// widgets colors variables
$beige: #F4F1EA;
$yellow: #FFBB41;
$black: #37394C;
$google-red: #EA4335;
$facebook-blue: #3b5998;
$white-sand: #FAF8F5;

html,
body {
  width: 100%;
  height: 100%;
}

.movieCard {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  max-width: 300px;
  width: 300px;
  background: $beige;
  color: $facebook-blue;
  border-radius: 4px; 

  img {
    width: 150px;
    height: 250px;
    border-radius: 6px;
  }
}

.movieCard.card {
  height: 450px;
}

.card-footer-badge {
  font-size: 1rem;
}

body {
  background: $black;
  font-family: 'Stylish', sans-serif;
}

h4 {
  margin: 10px 0;
  font-size: 24px;
  color: $google-red;
}
h6 {
  margin: 5px 0;
  font-size: 14px;
  color: #261032;
}

.container,
.demo-box {
  width: 100%;
  height: 100%;
}

.movie-card-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

